<section>
    <link rel="icon" href="../IMGs/LogiIcon.png" sizes="any">
    <!--LOGIN-->
    <p class="space"></p>
    <div class="container shadow p-3 mb-5">
        <div>
            <img src="/assets/logoTest.png" alt="Logo" class="image">
        </div>
        <div class="inside">
            <h3 class="forgotPassTex">Forgot Password</h3>
            <form class="form-group-email">

                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="email@example.com">
                </div>
                <div class="RegisterBtn">
                    <a type="send" class="btn btn-primary btn-lg btn-block" role="button" aria-disabled="true"
                        href="Login.html">Send</a>
                </div>

            </form>
        </div>
    </div>
</section>