<link rel="icon" href="/assets/LogiIcon.png" sizes="any">
<!--LOGIN-->
<p class="space"></p>
<div class="container shadow p-3 mb-5">
    <div>
        <img src="/assets/logoTest.png" alt="Logo" class="image">
    </div>
    <div class="inside">
        <form [formGroup]="FormCrearUsuario" class="form-group-email" (ngSubmit)="RegistrarUsuario()">
            <div class="form-group">
                <label for="exampleFormControlInput1">First Name</label>
                <input type="text" class="form-control" id="FirstName" placeholder="John" formControlName="NameForm">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Last Name</label>
                <input type="text" class="form-control" id="LastName" placeholder="Doe" formControlName="LastNameForm">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="email@example.com" formControlName="EmailForm">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Username</label>
                <input type="text" class="form-control" id="Username" placeholder="JohnDoe123" formControlName="UserNameForm">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Password</label>
                <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Qwerty123" formControlName="PasswordForm">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Confirm Password</label>
                <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Qwerty123" formControlName="ConfirmPassForm">
            </div>
            <div class="RegisterBtn">
                <button type="submit" class="btn btn-primary btn-lg btn-block" role="button" aria-disabled="true" [disabled]="FormCrearUsuario.invalid"
                   >Register</button>
            </div>

        </form>
    </div>
</div>