<link rel="icon" href="/assets/LogiIcon.png" sizes="any">
<!--LOGIN-->
<p class="space"></p>
<div class="container shadow p-3 mb-5">
    <div>
        <img src="/assets/logoTest.png" alt="Logo" class="image">
    </div>
    <div class="inside">
        <form class="form-group-email">
            <div class="form-group">
                <label for="exampleFormControlInput1">First Name</label>
                <input type="text" class="form-control" id="FirstName" placeholder="John">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Last Name</label>
                <input type="text" class="form-control" id="LastName" placeholder="Doe">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="email@example.com">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Username</label>
                <input type="text" class="form-control" id="Username" placeholder="JohnDoe123">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Password</label>
                <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Qwerty123">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Confirm Password</label>
                <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Qwerty123">
            </div>
            <div class="RegisterBtn">
                <a type="submit" class="btn btn-primary btn-lg btn-block" role="button" aria-disabled="true"
                    href="Login.html">Register</a>
            </div>

        </form>
    </div>
</div>