<app-home-side-navbar></app-home-side-navbar>
<section>
    <div id="main" class="container">
        <div>
            <h1 style="text-align: center;">Historial</h1>
            <div class="FlighSearch">
                <table class="table ">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Flight Number</th>
                            <th scope="col">precio</th>
                            <th scope="col">Aerolinea</th>
                            <th scope="col">Hora de Salida</th>
                            <th scope="col">Hora de Llegada</th>
                            <th scope="col">Estado Actual</th>
                            <th scope="col">Puerta de abordaje</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of ListaCompraVuelos">
                        <tr>
                            <th scope="col">{{item?.id_CompraVuelo}}</th>
                            <th scope="col">{{item?.precio}}</th>
                            <th scope="col">{{item?.aeroLinea}}</th>
                            <th scope="col">{{item?.horaSalida}}</th>
                            <th scope="col">{{item?.horaLlegada}}</th>
                            <th scope="col">{{item?.estadoVuelo}}</th>
                            <th scope="col">{{item?.puertaAbordaje}}</th>
                           
                        </tr>
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>

   
</section>