<app-home-side-navbar></app-home-side-navbar>
<section>
    <div id="main" class="container">
        <div>
            <h1 style="text-align: center;">Historial</h1>
            <div class="FlighSearch">
                <table class="table ">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Flight Number</th>
                            <th scope="col">Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Departure Country</th>
                            <th scope="col">Destination Country</th>
                            <th scope="col">Gate</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">1</th>
                            <th scope="col">Placeholder</th>
                            <th scope="col">Placeholder</th>
                            <th scope="col">Placeholder</th>
                            <th scope="col">Placeholder</th>
                            <th scope="col">Placeholder</th>
                            <th scope="col">Placeholder</th>
                        </tr>
                        <tr>
                            <th scope="col">2</th>
                            <th scope="col">Placeholder</th>
                            <th scope="col">Placeholder</th>
                            <th scope="col">Placeholder</th>
                            <th scope="col">Placeholder</th>
                            <th scope="col">Placeholder</th>
                            <th scope="col">Placeholder</th>
                        </tr>
                        <tr>
                            <th scope="col">3</th>
                            <th scope="col">Placeholder</th>
                            <th scope="col">Placeholder</th>
                            <th scope="col">Placeholder</th>
                            <th scope="col">Placeholder</th>
                            <th scope="col">Placeholder</th>
                            <th scope="col">Placeholder</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

   
</section>