<app-home-side-navbar></app-home-side-navbar>
<section>
    <div id="main" class="container">
        <div>
          <h1 style="text-align: center;">Arrivals</h1>
          <div class="FlighSearch">
            <table class="table ">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Flight</th>
                  <th scope="col">Airline</th>
                  <th scope="col">Arrivals</th>
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
                  <th scope="col">State</th>
                  <th scope="col">Gate</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="col">1</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                </tr>
                <tr>
                  <th scope="col">2</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                </tr>
                <tr>
                  <th scope="col">3</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    
        <div>
          <h1 style="text-align: center;">Departures</h1>
          <div class="FlighSearch">
            <table class="table ">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Flight</th>
                  <th scope="col">Airline</th>
                  <th scope="col">Departure</th>
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
                  <th scope="col">State</th>
                  <th scope="col">Gate</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="col">1</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                </tr>
                <tr>
                  <th scope="col">2</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                </tr>
                <tr>
                  <th scope="col">3</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                  <th scope="col">Placeholder</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
</section>