<section id="sidbarVuelos">
    <link rel="icon" href="/assets/LogiIcon.png" sizes="any">
    <header>
        <!--Navegador Top-->
        <nav class="navbar fixed-top navbar-expand-sm shadow p-3 mb-5" id="mainNav">
            <img width="50px" style="margin-bottom:3px; margin-right:30px; margin-left:30px " src="/assets/LogiIcon.png"
                alt="Logo">
            <a class="navbar-brand" routerLink="/Home-Travelers"> Travelers </a>
            <div class="toLeft">

                


                <a href="HTML/UserInfo.html"><i class="large material-icons">account_circle</i></a>
                <a class="btn btn-secondary btn-sm logout" role="button" aria-disabled="true"
                    href="HTML/Login.html">Logout</a>
            </div>
        </nav>
    </header>

    <!-- SideBar sticky   -->
    <ul class="sidenav flex-column shadow p-3" id="navegationBar" style="padding-left: 0; display: sblock">
        <div class="list-group list-group-flush">
            <a routerLink="/Current-Flights" routerLinkActive="true" class="list-group-item list-group-item-action">Flights</a>
            <a routerLink="/Current-Airlines" routerLinkActive="true" class="list-group-item list-group-item-action">Airlines</a>
            <a routerLink="/Current-Gates" routerLinkActive="true" class="list-group-item list-group-item-action">Gates</a>
            <a routerLink="/Current-Countries" routerLinkActive="true" class="list-group-item list-group-item-action">Countries</a>
            <a routerLink="/Current-Logs" routerLinkActive="true" class="list-group-item list-group-item-action">Logs</a>
            <a routerLink="/Current-Historical" routerLinkActive="true" class="list-group-item list-group-item-action">Historical</a>
        </div>


    </ul>

</section>