<app-home-side-navbar></app-home-side-navbar>

<section>
    <div id="main" class= "container">
        <div class="FlighSearch shadow" >
            <form class = "infoFlight">
    
                <div class="form-group row">
                    <label for="hilera1" class="col-form-label">From</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="hilera1" value="San Jose (SJO)">
                  </div>
    
                  <label class="col-sm-1 col-form-label"></label>
                
    
                  <label for="hilera1" class="col-form-label">To</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="hilera1" value="Cancun (CUN)">
                  </div>
    
                  <div class="col-sm-2">
                    <button type="submit" class="btn btn-secondary " id="btnSearch"><i class="large material-icons">search</i></button>
                  </div>
                </div>
    
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label"><i class="large material-icons">flight_takeoff</i></label>
                    <div class="col-sm-" >
                        <input type="date" id="start" name="trip-start" value="2021-10-14" min="2021-10-01" max="2023-12-31">
                    </div>
    
                    <label class="col-sm-1 col-form-label"></label>
    
                    <label class="col-sm-1 col-form-label"><i class="large material-icons">flight_land</i></label>
                    <div class="col-sm-" >
                        <input type="date" id="start" name="trip-start" value="2021-10-25" min="2021-10-01" max="2023-12-31">
                    </div>
    
                    <label class="col-sm-1 col-form-label"></label>
    
                    <label for="hilera1" class="col-form-label">Adults</label>
                    <div class="col-sm-2">
                      <input type="number" class="form-control" id="hilera1" value="2">
                    </div>
                </div>
            </form>
        </div>
        <h3 style="text-align: center;">Results</h3>    
        <div class="FlighSearch shadow" >
            <form class = "infoFlight">
    
                <div class="form-group row">
                    <div class="col-sm-2" >
                        <img rel="icon" src="/assets/Icon_Airline_CR.png"alt="Airline">
                    </div>
                    <div class="col-sm-2 form-group row" >
                        <label   class=" col-form-label horaA">5:30</label>
                        <label  class=" col-form-label">-</label>
                        <label   class=" col-form-label horaA">8:50</label>
                    </div>
                    <div class="col-sm-3 form-group row" >
                        <label class=" col-form-label">SJO</label>
                        <label class=" col-form-label"><i class="large material-icons">arrow_forward</i></label>
                        <label class=" col-form-label">CUN</label>
                    </div>
                    <div class="col-sm-3 form-group row" >
                        <label class=" col-form-label">3 </label>
                        <label class=" col-form-label">-Hours</label>
                    </div>
                    <div class="col-sm-2 form-group row" >
                        <label class=" col-form-label">Price: </label>
                        <label class=" col-form-label">750</label>
                        <label class=" col-form-label">$</label>
                    </div>
                </div>
            
                <div class="form-group row">
                    <div class="col-sm-2" >
                        <img rel="icon" src="/assets/Icon_Airline_CR.png"alt="Airline">
                    </div>
                    <div class="col-sm-2 form-group row" >
                        <label   class=" col-form-label horaA">12:30</label>
                        <label  class=" col-form-label">-</label>
                        <label   class=" col-form-label horaA">14:30</label>
                    </div>
                    <div class="col-sm-3 form-group row" >
                        <label class=" col-form-label">CUN</label>
                        <label class=" col-form-label"><i class="large material-icons">arrow_forward</i></label>
                        <label class=" col-form-label">JSO</label>
                    </div>
                    <div class="col-sm-3 form-group row" >
                        <label class=" col-form-label">3 </label>
                        <label class=" col-form-label">-Hours</label>
                    </div>
                    <div class="col-sm-2 form-group row" >
                        <a routerLink="/Buy-Flights"type="submit" class="btn btn-primary " id="btnSearch">Comprar</a>
                    </div>
                    <div class="col-sm-2 form-group row" >
                        <a routerLink="/Buy-Flights"type="submit" class="btn btn-primary " id="btnSearch">Reservar</a>
                    </div>
                </div>
            </form>
        </div>
    
        <div class="FlighSearch shadow" >
            <form class = "infoFlight">
    
                <div class="form-group row">
                    <div class="col-sm-2" >
                        <img rel="icon" src="/assets/Icon_Airline_US.png"alt="Airline">
                    </div>
                    <div class="col-sm-2 form-group row" >
                        <label   class=" col-form-label horaA">18:45</label>
                        <label  class=" col-form-label">-</label>
                        <label   class=" col-form-label horaA">21:00</label>
                    </div>
                    <div class="col-sm-3 form-group row" >
                        <label class=" col-form-label">SJO</label>
                        <label class=" col-form-label"><i class="large material-icons">arrow_forward</i></label>
                        <label class=" col-form-label">CUN</label>
                    </div>
                    <div class="col-sm-3 form-group row" >
                        <label class=" col-form-label">3:45 </label>
                        <label class=" col-form-label">-Hours</label>
                    </div>
                    <div class="col-sm-2 form-group row" >
                        <label class=" col-form-label">Price: </label>
                        <label class=" col-form-label">550</label>
                        <label class=" col-form-label">$</label>
                    </div>
                </div>
            
                <div class="form-group row">
                    <div class="col-sm-2" >
                        <img rel="icon" src="/assets/Icon_Airline_US.png"alt="Airline">
                    </div>
                    <div class="col-sm-2 form-group row" >
                        <label   class=" col-form-label horaA">00:00</label>
                        <label  class=" col-form-label">-</label>
                        <label   class=" col-form-label horaA">3:45</label>
                    </div>
                    <div class="col-sm-3 form-group row" >
                        <label class=" col-form-label">CUN</label>
                        <label class=" col-form-label"><i class="large material-icons">arrow_forward</i></label>
                        <label class=" col-form-label">JSO</label>
                    </div>
                    <div class="col-sm-3 form-group row" >
                        <label class=" col-form-label">3:45 </label>
                        <label class=" col-form-label">-Hours</label>
                    </div>
                    <div class="col-sm-2 form-group row" >
                        <a href="/assets/FlightBuy.html" type="submit" class="btn btn-primary " id="btnSearch">Comprar</a>
                    </div>
                    <div class="col-sm-2 form-group row" >
                        <a href="/assets/FlightBuy.html" type="submit" class="btn btn-primary " id="btnSearch">Reservar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>