<app-home-side-navbar></app-home-side-navbar>
<section>

    <div id="main" class="container">
        <div>
            <h1 style="text-align: center;">Logs</h1>
            <div class="FlighSearch">
                <table class="table ">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Error ID</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Message</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of ListaErrores">
                        <tr>
                            <th scope="col">{{item.id_error}}</th>
                            <th scope="col">{{item.fecha}}</th>
                            <th scope="col">{{item.hora}}</th>
                            <th scope="col">{{item.mensaje}}</th>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</section>