<app-home-side-navbar></app-home-side-navbar>
<section>
    <div id="main" class= "container">
        <h1 style="text-align: center;">Airelines Available</h1>
        <div class="FlighSearch" >
          <div id="carouselCountries" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="/assets/plane.jpeg" alt="First slide">
                </div>
            </div>
          </div>
        </div>
        
        <!--Airlines-->
        
        <div class="Paquetes">
            <div class="row justify-content-md-center">
    
                <div class="col">
                    <div class="card" style="width: 13rem;">
                        <img src="/assets/Airline_US.PNG" class="card-img-top" alt="United Aire">
                        <div class="card-body">
                            <h5 class="card-title">United Air</h5>   
                              <p class="card-text">Founded in 1854, this is one of the oldest airlines in the world. </p>               
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 13rem;">
                        <img src="/assets/Airline_Canada.png" class="card-img-top" alt="Canada Air">
                        <div class="card-body">
                            <h5 class="card-title">Canada Air</h5> 
                              <p class="card-text">Canada Air is known for its great customer services and privacy</p>
                        </div>
                    </div>
                </div>
               
                  <div class="col">
                      <div class="card" style="width: 13rem;">
                          <img src="/assets/Airline_CR.png" class="card-img-top" alt="Ailines Costa Rica">
                          <div class="card-body">
                              <h5 class="card-title">Airlines CR</h5>   
                                <p class="card-text">Costa Rica's very first airline is up and running </p>     
                          </div>
                      </div>
                  </div>
                
              
              
                
            </div>
        </div>
     
     </div>
    
</section>