<app-home-side-navbar></app-home-side-navbar>
<section>
    <div id="main" class="container">
        <h1 style="text-align: center;">User Information</h1>
        <div class="UserInfo shadow">
            <div class="infoFlight">
                <form class="form-group-email">
                    <div class="form-group  row">
                        <div class="col-sm-2">
                            <label for="exampleFormControlInput1">First Name</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="FirstName" placeholder="John" disabled>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="RegisterBtn col-sm-2">
                            <a type="submit" class="btn btn-secondary" role="button" aria-disabled="true"
                                href="../HTML/UserEditInfo.html"><i class="large material-icons">edit</i></a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label for="exampleFormControlInput1">Last Name</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="LastName" placeholder="Doe" disabled>
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label for="exampleFormControlInput1">Email address</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="email@example.com" disabled>
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label for="exampleFormControlInput1">Username</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Username" placeholder="JohnDoe123" disabled>
                        </div>

                    </div>


                </form>
            </div>
        </div>



        <h1 style="text-align: center;">Credit Card Information</h1>
        <div class="CreditCard shadow">
            <div class="infoFlight">
                <form class="form-group-email">
                    <div class="form-group  row">
                        <div class="col-sm-3">
                            <label for="exampleFormControlInput1">Card Holder Name</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" id="FirstName" placeholder="John Doe" disabled>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="RegisterBtn col-sm-2">
                            <a type="submit" class="btn btn-secondary" role="button" aria-disabled="true"
                                href="../HTML/UserEditCard.html"><i class="large material-icons">edit</i></a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="exampleFormControlInput1">Credit Card Number</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" id="exampleFormControlInput1"
                                placeholder="**************1584" disabled>
                        </div>
                    </div>
                </form>
            </div>
        </div>



        <h3 style="text-align: center;">Admin Role Only</h3>
        <div class="CreditCard ">
            <div class="infoFlight">
                <form class="form-group row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-secondary" role="button" data-toggle="modal"
                            data-target="#ModalUsers">See all Users</button>

                        <!-- Modal -->
                        <div class="modal fade" id="ModalUsers" tabindex="-1" role="dialog"
                            aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog modal-xl" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">VISTA DE USUARIOS</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Last Name</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Usuario</th>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody id="tablaDep" *ngFor="let item of ListaUsers">
                                                <tr>
                                                    <th scope="col">{{item?.idUsuario}}</th>
                                                    <th scope="col">{{item?.nombre}}</th>
                                                    <th scope="col">{{item?.apellidos}}</th>
                                                    <th scope="col">{{item?.email}}</th>
                                                    <th scope="col">{{item?.usuario}}</th>
                                                   
                                                   
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-3">
                        <a type="submit" class="btn btn-secondary" role="button" data-toggle="modal"
                            data-target="#ModalAddUser">Create New User</a>

                        <!-- Modal -->
                        <div class="modal fade" id="ModalAddUser" tabindex="-1" role="dialog"
                            aria-labelledby="modelTitleId" aria-hidden="true">
                            <div class="modal-dialog modal-xl" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">

                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h1 style="text-align: center;">Create New User</h1>

                                        <div class=" infoFlight">
                                            <form class="form-group-email">
                                                <form class="form-group-email">
                                                    <div class="form-group">
                                                        <label for="exampleFormControlInput1">First Name</label>
                                                        <input type="text" class="form-control" id="FirstName"
                                                            placeholder="John">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleFormControlInput1">Last Name</label>
                                                        <input type="text" class="form-control" id="LastName"
                                                            placeholder="Doe">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleFormControlInput1">Email address</label>
                                                        <input type="email" class="form-control"
                                                            id="exampleFormControlInput1"
                                                            placeholder="email@example.com">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleFormControlInput1">Username</label>
                                                        <input type="text" class="form-control" id="Username"
                                                            placeholder="JohnDoe123">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleFormControlInput1">Password</label>
                                                        <input type="password" class="form-control"
                                                            id="exampleFormControlInput1" placeholder="Qwerty123">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleFormControlInput1">Confirm Password</label>
                                                        <input type="password" class="form-control"
                                                            id="exampleFormControlInput1" placeholder="Qwerty123">
                                                    </div>
                                                    <label style="text-align: center">Roles</label>

                                                    <div class="form-group">
                                                        <select class="form-control">
                                                            <option value="User">User</option>
                                                            <option value="Admin">Admin</option>
                                                        </select>
                                                        <hr>
                                                        
                                                    </div>
                                                    <button class="btn btn-info"> Add User</button>
                                                   


                                                </form>


                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            
                            </div>
                        </div>

                    </div>
                </form>

            </div>

        </div>
    </div>


</section>