<app-home-side-navbar></app-home-side-navbar>
<div id="main" class="container">
    <h3 style="text-align: center;">Flight Selected</h3>
    <div class="FlighSearch shadow">
        <form class="infoFlight">

            <div class="form-group row">
                <div class="col-sm-2">
                    <img rel="icon" src="/assets/copaTemporal.png" alt="Airline">
                </div>
                <div class="col-sm-2 form-group row">
                    <label class=" col-form-label horaA">5:30</label>
                    <label class=" col-form-label">-</label>
                    <label class=" col-form-label horaA">8:50</label>
                </div>
                <div class="col-sm-3 form-group row">
                    <label class=" col-form-label">SJO</label>
                    <label class=" col-form-label"><i class="large material-icons">arrow_forward</i></label>
                    <label class=" col-form-label">CUN</label>
                </div>
                <div class="col-sm-3 form-group row">
                    <label class=" col-form-label">3 </label>
                    <label class=" col-form-label">-Hours</label>
                </div>

            </div>

            <div class="form-group row">
                <div class="col-sm-2">
                    <img rel="icon" src="/assets/copaTemporal.png" alt="Airline">
                </div>
                <div class="col-sm-2 form-group row">
                    <label class=" col-form-label horaA">12:30</label>
                    <label class=" col-form-label">-</label>
                    <label class=" col-form-label horaA">14:30</label>
                </div>
                <div class="col-sm-3 form-group row">
                    <label class=" col-form-label">CUN</label>
                    <label class=" col-form-label"><i class="large material-icons">arrow_forward</i></label>
                    <label class=" col-form-label">JSO</label>
                </div>
                <div class="col-sm-3 form-group row">
                    <label class=" col-form-label">3 </label>
                    <label class=" col-form-label">-Hours</label>
                </div>
                <div class="col-sm-2 form-group row">
                    <label class=" col-form-label">Price: </label>
                    <label class=" col-form-label">750</label>
                    <label class=" col-form-label">$</label>
                </div>
            </div>
        </form>
    </div>

    <h3 style="text-align: center;">Choose your Payment Style</h3>

    <div class="FlighSearch">
        <div class="infoFlight">
            <div class="form-group row">
                <div class="col-sm-1"></div>
               
                <div class="col-sm-1"></div>
                
            </div>
          
            <div class="form-group row">
               
                <div class="mx-auto" id="paypalrefButton" >
                   
                </div>
               

            </div>

        </div>

    </div>