<app-home-side-navbar></app-home-side-navbar>
<section>
    <div id="main" class="container">
        <h1 style="text-align: center;">Costa Rica's Gates</h1>
        <div class="FlighSearch">
            <div id="carouselCountries" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="/assets/aeropuertoCR.jpg" alt="First slide">
                    </div>
                </div>
            </div>
        </div>



        <!--Paises-->

        <div class="Paquetes">
            <div class="row justify-content-md-center">

                <div class="col">
                    <div class="card" style="width: 13rem;">
                        <img src="/assets/gate.png" class="card-img-top" alt="Cancun">
                        <div class="card-body">
                            <h5 class="card-title">Gate A1</h5>
                            <p class="card-text">Costa Rica - Dallas</p>
                            <p class="card-text">Costa Rica - Mexico D.F</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 13rem;">
                        <img src="/assets/gate.png" class="card-img-top" alt="Orlando">
                        <div class="card-body">
                            <h5 class="card-title">Gate 2B</h5>
                            <p class="card-text">Costa Rica - Orlando</p>
                            <p class="card-text">Costa Rica - Miami</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 13rem;">
                        <img src="/assets/gate.png" class="card-img-top" alt="Toronto">
                        <div class="card-body">
                            <h5 class="card-title">Gate3C</h5>
                            <p class="card-text">Costa Rica - Cancun</p>
                            <p class="card-text">Costa Rica - Toronto</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

</section>